@model Eventures.ViewModels.Events.AllEventsViewModel;

<h1 class="text-center">All Events</h1>

<div class="row justify-content-around">
    <div class="col-md-8">
        <hr class="hr-blue hr-2" />
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="names">#</th>
                <th scope="col" class="names">Name</th>
                <th scope="col" class="names">Start</th>
                <th scope="col" class="names">End</th>
                <th scope="col" class="names">Place</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Events.Count(); i++)
            {
                var currentEvent = Model.Events.ToList()[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@currentEvent.Name</td>
                    <td>@currentEvent.GetStartDate</td>
                    <td>@currentEvent.GetEndDate</td>
                    <td>@currentEvent.Place</td>
                </tr>
            }
            </tbody>
        </table>
        <hr class="hr-blue hr-2" />
    </div>
</div>
