@model GrabNReadApp.Web.Areas.Store.Models.Orders.AllOrdersViewModel

@{
    ViewData["Title"] = "Orders";
}

<h1 class="text-center">Orders</h1>

<div class="row justify-content-center">
    <hr />
    @if (Model.Orders.Count == 0)
    {
        <div class="col text-center">
            <p><em>You don't have any orders.</em></p>
        </div>
    }
    else
    {
        <table class="table table-sm table-responsive">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">Id</th>
                    <th class="col-2">Date</th>
                    <th class="col-4">Address</th>
                    <th class="col-3">Recipient Name</th>
                    <th class="col-1">Details</th>
                    <th class="col-1">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr class="d-flex">
                        <td class="col-1">@item.Id</td>
                        <td class="col-2">@item.OrderedOn.ToString("hh:mm dd/MM/yyyy")</td>
                        <td class="col-4">@item.Address</td>
                        <td class="col-3">@item.RecipientName</td>
                        <td class="col-1">
                            <a asp-area="Store" asp-controller="Orders" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fa fa-info ml-4"></i>
                            </a>
                        </td>
                        <td class="col-1">
                            <a asp-area="Store" asp-controller="Orders" asp-action="Delete" asp-route-id="@item.Id">
                                <i id="remove-icon" class="fa fa-remove ml-4"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>