@model IEnumerable<GrabNReadApp.Data.Models.Store.Rental>

@{
    ViewData["Title"] = "Rentals";
}

<h1>Rentals</h1>

@if (!Model.Any())
{
    <p><em>There are no rentals.</em></p>
}
else
{
    <table class="table table-hover table-sm table-responsive">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Price Per Day</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Days</th>
                <th scope="col">Sum</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Book.Title</td>
                    <td>@item.Book.Author</td>
                    <td>@item.Book.PricePerDay BGN</td>
                    <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>@((item.EndDate - item.StartDate).Days)</td>
                    <td>@item.TotalSum BGN</td>
                    <td>
                        <a asp-area="Store" asp-controller="Rentals" asp-action="Delete" asp-route-id="@item.Id">
                            <i id="remove-icon" class="fa fa-remove ml-4"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}