@model IEnumerable<GrabNReadApp.Web.Areas.Products.Models.Books.BookBaseViewModel>

@{
    ViewData["Title"] = "All";
}
<h1 class="text-center">Books</h1>
<hr />
<div class="row">
    <div class="card-deck justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-auto mb-3" style="width: 15rem;">
                <div class="card mb-5">
                    <img class="card-img-top" src="@item.CoverImage" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">@item.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">@item.Author</h6>
                    </div>

                    <div class="card-body">
                        <div class="row justify-content-around">
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-sm btn-outline-warning" asp-area="Products" asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-sm btn-outline-danger" asp-area="Products" asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                            <a class="btn btn-sm btn-outline-primary" asp-area="Products" asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if (!Model.Any() || Model == null)
{
    <div class="text-center">
        <p><em>There are no books of this genre.</em></p>
    </div>
}