@model GrabNReadApp.Web.Areas.Products.Models.Books.BookDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row justify-content-around">
    <div class="col-md-5">
        <img src="@Model.CoverImage" style="width: 17rem;" />
    </div>
    <div class="col-md-5">
        <h2 class="text-center">
            @Model.Title
        </h2>
        <h3 class="text-center">
            by  @Model.Author
        </h3>
        <table class="table table-hover table-sm table-responsive">
            <tbody>
                <tr>
                    <td>Release Date</td>
                    <td>@Model.ReleaseDate.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>Pages</td>
                    <td>@Model.Pages</td>
                </tr>
                <tr>
                    <td>Price (Buy)</td>
                    <td>@Model.Price BGN</td>
                </tr>
                <tr>
                    <td>Price per Day (Rent)</td>
                    <td>@Model.PricePerDay BGN</td>
                </tr>
                <tr>
                    <td>Cover Type</td>
                    <td>@Model.CoverType</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td class="break-text">@Model.Description</td>
                </tr>
            </tbody>
        </table>
        <div class="row justify-content-around">
            <a class="btn btn-primary" asp-area="Store" asp-controller="Purchases" asp-action="Create" asp-route-id="@Model.Id">Byu</a>
            <a class="btn btn-primary" asp-area="Store" asp-controller="Rentals" asp-action="Create" asp-route-id="@Model.Id">Rent</a>
        </div>
    </div>
</div>

<hr />
<partial name="~/Areas/Evaluation/Views/Comments/_CreatePartial.cshtml" model="@Model.CommentViewModel" />

<div id="newComment"></div>
<section id="comments">
    @foreach (var comment in Model.Comments)
    {
        <blockquote class="blockquote">
            <p class="break-text mb-0">
                @comment.Content
                @if (User.IsInRole("Admin") || User.Identity.Name == @comment.Creator.UserName)
                {
                    <button id=" @comment.Id" onclick="deleteComment(event)" class="btn btn-sm btn-danger float-right">Delete</button>
                }
            </p>
            <footer class="blockquote-footer">
                by <cite title="Comment Author">@comment.Creator.UserName</cite>
            </footer>
        </blockquote>
    }
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/Scripts/Evaluation/DeleteComment.js"></script>
}